.header{
	border: 1px dashed orange;
	height: 300px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.link1{
	border: 2px dotted red;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.parent1{
	padding: 7px 10px;
	background-color: silver;
	margin: 10px;
	border-radius: 4px;
}
.parent2{
	padding: 7px 10px;
	background-color: silver;
	margin: 10px 10px 10px auto;
	border-radius: 4px;
}


.link2{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: orange;
	text-align: center;
}
.button{
	display: flex;
	border: 2px solid;
	flex-direction: row;
	justify-content: center;
}